<body>
    <h1 class= "title">To Do</h1>
     <ul>
      
     

 
              
             
        
            
       <li>
           <input type= "checkbox"</input> <a href= "show/1">finish research paper </a>
           <span class= "pomodoro-estimate"> 6 Pomodoros</span>
           <a href = "#" class= "edit" > Edit </a>
           <a href = "#" class= "delete"> Delete </a>
           </li>
         
         <li> <input type ="checkbox" <input> <a href= "show/2" >wash dishes</a>
         <span class= "pomodoro-estimate">3 Pomodoros</span>
         <a href = "#" class= "edit " > Edit </a>
         <a href = "#" class= "delete"> Delete </a>
         </li>
         <li> <input type = "checkbox" </input> <a href = "show/3" >do laundry </a>
         <span class= "pomodoro-estimate">5 Pomodoros</span>
          <a href = "#" class= "edit" >Edit</a>
          <a href =  "#" class= "delete" > Delete </a>
         </li>
         <li> <input type =  "checkbox" </input> <a href = "show/4 " >cook</a>
         <span class= "pomodoro-estimate">3 Pomodoros</span>
          <a href = "#" class= "edit" >Edit</a>
          <a href =  "#" class= "delete" > Delete </a>
         </li>
         
        
         <li> <input type = "checkbox" </input> <a href = "show/5 " >clean room</a>
         <span class= "pomodoro-estimate"> 4 Pomodoros</span>
          <a href = "#" class= "edit" >Edit</a>
          <a href =  "#" class= "delete" > Delete </a>
         </li>
         
         </ul>
 </div>
 
 <div class= "">
     <a href = "new" class= "addList" >Add a new item </a>
     <a href = "new" class =  "deleteList" >Delete List</a>
     
     
     
 </div>
 </body>